<head>
    <link rel="stylesheet" href="headers.component.css" type="text/css">
</head>

<body>
    <header>
        <nav class="nav nav-pills flex-column flex-sm-row">
           
            <div class="topnav">
                <a class="active"routerLink="signup">Sign Up</a>
                <a routerLink="signin">Sign in</a>
                <a  routerLink="createprofile">Create Profile</a>
                <a  routerLink="searchprofile">Search Profile</a>
        
            </div>  
        
        </nav>
    </header>

    

    

</body>